<div class=" modal fade" id="knnmap-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg" style="width: 100%">
					<div class="modal-body">
						<h2>New York City boroughs tree health</h2>
						<hr class="star-primary">
						<p>Here you can see....
							<br><br>Hover over the boroughs in the map to see additional information from each borough.</p>
						<html lang="en">

						<head>
							<meta charset="utf-8">
							<title>D3: Setting path fills</title>
							<script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
							<style type="text/css">
								.background {
									fill: #eee;
									pointer-events: all;
								}
								
								div.tooltip {
									box-sizing: border-box;
									display: inline;
									font-size: 20px;
									width: 100%;
									z-index: 10000;
									line-height: 1;
									color: rgba(0, 0, 0, 0.8);
									content: "\25BC";
									position: absolute;
									text-align: center;
								}
								
								#tooltip {
									position: absolute;
									width: 200px;
									height: auto;
									padding: 10px;
									background-color: white;
									-webkit-border-radius: 10px;
									-moz-border-radius: 10px;
									border-radius: 10px;
									-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
									-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
									box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
									pointer-events: none;
								}
							</style>
						</head>

						<h4 class="Description" id="KnnSelection" margin-left="100px">
							<!-- What you are actually visualizing. Will change on click of buttons -->
							You are now visualizing: Poor trees
						</h4>
						<button type="button"><p id="poordata">Show poor</p></button>
						<button type="button"><p id="fairdata">Show fair</p></button>
						<button type="button"><p id="gooddata">Show good</p></button>

						<div id="map_div">
							<script type="text/javascript">
								//Width and height
								var w = 1700;
								var h = 900;

								//Tooltip
								var knn_tool_div = d3.select("#map_div").append("div")
									.attr("class", "tooltip")
									.style("z-index", 10000)
									.style("opacity", 0);

								d3.csv("/data/knn/fairknn.csv", function (data1) {
									d3.csv("/data/knn/poorknn.csv", function (data2) {
										d3.csv("/data/knn/goodknn.csv", function (data3) {
											d3.csv("/data/data.csv", function (data) {

												//Define map projection
												var projection = d3.geo.mercator()
													.center([-73.7541, 40.712784]) //[e/w, n/s]
													.translate([w / 2, h / 2])
													.scale([67000]);

												//Define path generator
												var path = d3.geo.path()
													.projection(projection);

												//Create SVG element
												var svg_map = d3.select("#map_div")
													.append("svg")
													.attr("width", w)
													.attr("height", h)
													.style("position", "relative")
													.style("width", "100%")

												//Adding background to svg
												svg_map.append('rect')
													.attr("class", "background")
													.attr("width", "1400")
													.attr("height", "900")

												//Load in GeoJSON data
												d3.json("data/geojson/boroughs.geojson", function (json) {

													//Bind data and create one path per GeoJSON feature
													svg_map.selectAll("path")
														.data(json.features)
														.enter()
														.append("path")
														.attr("d", path)
														.style("fill", "steelblue")
														.on("mouseover", function (d) {
															knn_tool_div.transition()
																.duration(10)
																.style("opacity", .9);
															d3.select(this)
																.style("opacity", 0.5)
																.attr("stroke-width", "12px");
															knn_tool_div.html("<b>" + d.properties.BoroName + "</b>" + "<br>" + "d.value" + " <i>" + "d.trees" + "</i> trees")
																.style("left", (-200) + "px")
																.style("top", (180) + "px");
														})
														.on("mouseout", function (d) {
															knn_tool_div.transition()
																.duration(200)
																.style("opacity", 0);
															d3.select(this)
																.style("opacity", .9);
														});

													addDots();

													d3.selectAll("p")
														.on("click", function () {
															var bttnID = d3.select(this).attr("id");
															var des = document.getElementById("KnnSelection")

															//Handle buttons for the different years
															if (bttnID == "poordata") {
																svg_map.selectAll("circle").remove()
																svg_map.selectAll("circle")
																	.data(data2)
																	.enter()
																	.append("circle")
																	.transition().duration(1500)
																	.attr("cx", function (d) {
																		return projection([d.lon, d.lat])[0];
																	})
																	.attr("cy", function (d) {
																		return projection([d.lon, d.lat])[1];
																	})
																	.attr("r", 1.2)
																	.style("fill", "red")
																	.style("opacity", 0.9);
																//changing the text saying what we are currently visualizing
																KnnSelection.innerHTML = "Poor data"
																document.getElementById("KnnSelection").innerHTML = "You are now visualizing: " + KnnSelection.innerHTML;
															}
															else if (bttnID == "fairdata") {
																svg_map.selectAll("circle").remove()
																svg_map.selectAll("circle")
																	.data(data1)
																	.enter()
																	.append("circle")
																	.transition().duration(1500)
																	.attr("cx", function (d) {
																		return projection([d.lon, d.lat])[0];
																	})
																	.attr("cy", function (d) {
																		return projection([d.lon, d.lat])[1];
																	})
																	.attr("r", 1.2)
																	.style("fill", "blue")
																	.style("opacity", 0.9);
																//changing the text saying what we are currently visualizing
																KnnSelection.innerHTML = "Fair data"
																document.getElementById("KnnSelection").innerHTML = "You are now visualizing: " + KnnSelection.innerHTML;
															}
															else if (bttnID == "gooddata") {
																svg_map.selectAll("circle").remove()
																svg_map.selectAll("circle")
																	.data(data3)
																	.enter()
																	.append("circle")
																	.transition().duration(1500)
																	.attr("cx", function (d) {
																		return projection([d.lon, d.lat])[0];
																	})
																	.attr("cy", function (d) {
																		return projection([d.lon, d.lat])[1];
																	})
																	.attr("r", 1.2)
																	.style("fill", "green")
																	.style("opacity", 0.9);
																//changing the text saying what we are currently visualizing
																KnnSelection.innerHTML = "Good data"
																document.getElementById("KnnSelection").innerHTML = "You are now visualizing: " + KnnSelection.innerHTML;
															};
														});

													// var i = 0;
													// var inter = setInterval(function() {
													// 	i++;
													// 	if (i == 1) {
													// 		//updateMap(data1);
													// 		console.log("update1")

													// 		svg_map.selectAll("circle").remove()
													// 		svg_map.selectAll("circle")
													// 			.data(data2)
													// 			.enter()
													// 			.append("circle")
													// 			.transition().duration(1500)
													// 			.attr("cx", function (d) {
													// 				return projection([d.lon, d.lat])[0];
													// 			})
													// 			.attr("cy", function (d) {
													// 				return projection([d.lon, d.lat])[1];
													// 			})
													// 			.attr("r", 1.2)
													// 			.style("fill", "red")
													// 			.style("opacity", 0.9);
													// 	} else if (i == 2) {
													// 		//updateMap(data2);														
													// 		console.log("update2")

													// 		svg_map.selectAll("circle").remove()
													// 		svg_map.selectAll("circle")
													// 			.data(data1)
													// 			.enter()
													// 			.append("circle")
													// 			.transition().duration(1500)
													// 			.attr("cx", function (d) {
													// 				return projection([d.lon, d.lat])[0];
													// 			})
													// 			.attr("cy", function (d) {
													// 				return projection([d.lon, d.lat])[1];
													// 			})
													// 			.attr("r", 1.2)
													// 			.style("fill", "blue")
													// 			.style("opacity", 0.9);
													// 	} else if (i == 3) {
													// 		i = 0;
													// 		//updateMap(data3);
													// 		console.log("update3")

													// 		svg_map.selectAll("circle").remove()
													// 		svg_map.selectAll("circle")
													// 			.data(data3)
													// 			.enter()
													// 			.append("circle")
													// 			.transition().duration(1500)
													// 			.attr("cx", function (d) {
													// 				return projection([d.lon, d.lat])[0];
													// 			})
													// 			.attr("cy", function (d) {
													// 				return projection([d.lon, d.lat])[1];
													// 			})
													// 			.attr("r", 1.2)
													// 			.style("fill", "green")
													// 			.style("opacity", 0.9);
													// 	}
													// }, 6000);
												});

												function addDots() {
													console.log("addDots")
													//Adding more dots than you can count
													// svg_map.selectAll("circle")
													// 	.data(data1)
													// 	.enter()
													// 	.append("circle")
													// 	.attr("cx", function (d) {
													// 		return projection([d.lon, d.lat])[0];
													// 	})
													// 	.attr("cy", function (d) {
													// 		return projection([d.lon, d.lat])[1];
													// 	})
													// 	.attr("r", 1.5)
													// 	.style("fill", "orange")
													// 	.style("opacity", 0.9);
													// svg_map.selectAll("circle")
													// 	.data(data2)
													// 	.enter()
													// 	.append("circle")
													// 	.attr("cx", function (d) {
													// 		return projection([d.lon, d.lat])[0];
													// 	})
													// 	.attr("cy", function (d) {
													// 		return projection([d.lon, d.lat])[1];
													// 	})
													// 	.attr("r", 1.5)
													// 	.style("fill", "red")
													// 	.style("opacity", 0.9);
													svg_map.selectAll("circle")
														.data(data2)
														.enter()
														.append("circle")
														.attr("cx", function (d) {
															return projection([d.lon, d.lat])[0];
														})
														.attr("cy", function (d) {
															return projection([d.lon, d.lat])[1];
														})
														.attr("r", 1.2)
														.style("fill", "red")
														.style("opacity", 0.9);
												}

												function updateMap(dat) {
													console.log("updateMap")
													// 	var animate = function() {
													// 		console.log("animate")													   
													// 		d3.select(this).transition().duration(1000)
													// 			.attr("r", 7).each("end", function() {														
													// 		d3.select(this).transition().duration(1000)
													// 			.attr("r", 3).each("end", animate)});																								
													// }

													// svg_map.selectAll("circle").remove()
													// svg_map.selectAll("circle")
													// 	.data(dat)
													// 	.enter()
													// 	.append("circle")
													// 	.transition().duration(1500)
													// 	.attr("cx", function (d) {
													// 		return projection([d.lon, d.lat])[0];
													// 	})
													// 	.attr("cy", function (d) {
													// 		return projection([d.lon, d.lat])[1];
													// 	})
													// 	.attr("r", 1.5)
													// 	.style("fill", "red")
													// 	.style("opacity", 0.9);

													// svg_map.select("#data2dots").selectAll("circle").remove()	
													// svg_map.select("#data2dots").selectAll("circle")
													// 		.data(data2)
													// 		.enter()
													// 		.append("circle")
													// 		.attr("cx", function(d) {
													// 			return projection_map([d.lat, d.lon])[0];
													// 		})
													// 		.attr("cy", function(d) {
													// 			return projection_map([d.lat, d.lon])[1];
													// 		})
													// 		.attr("r", 10)
													// 		.style("stroke-opacity", 0.6)
													// 		.style("stroke-width", 5)
													// 		.style("stroke", "white")
													// 		.style("fill", "red")
													// 		.style("opacity", 1);


													// svg_map.select("circle")
													//  	   .data(dat)
													// 	   .attr("cx", function(d) {
													// 		   return projection([d.lon, d.lat])[0];
													// 	   })
													// 	   .attr("cy", function(d) {
													// 		   return projection([d.lon, d.lat])[1];
													// 	   })
													// 	   .attr("r", 5).on("end", updateMap)
													// 	   .style("fill", "red")
													// 	   .style("opacity", 0.9)
												}
											});
										});
									});
								});
							</script>
						</div>

						</html>

						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>