<div class=" modal fade" id="map-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>New York City boroughs</h2>
						<hr class="star-primary">
						<p>Here you can see....
							<br><br>Hover over the boroughs in the map to see additional information from each borough.</p>
						<html lang="en">

						<head>
							<meta charset="utf-8">
							<title>D3: Setting path fills</title>
							<script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
							<style type="text/css">
								.background {
									fill: #eee;
									pointer-events: all;
								}
							</style>
						</head>
						<div id="map_div">
							<script type="text/javascript">
								//Width and height
								var w = 1000;
								var h = 700;								

								d3.csv("/data/knn/fairknn.csv", function (data) {
									// data.forEach(function(d) {
									// 	d.lat = +d.lat,
									// 	d.lon = +d.lon
									// });			

									//Load in GeoJSON data
									d3.json("data/geojson/boroughs.geojson", function (json) {										

										//Bind data and create one path per GeoJSON feature
										svg_map.selectAll("path")
											.data(json.features)
											.enter()
											.append("path")
											.attr("d", path)
											.style("fill", "steelblue")
											.on("mouseover", function (d) {
												console.log("mouseoever")

											});
									});							 

									//Define map projection
									var projection = d3.geo.mercator()
										.center([-73.805941, 40.712784])
										.translate([w / 2, h / 2])
										.scale([55000]);

									//Define path generator
									var path = d3.geo.path()
										.projection(projection);

									//Create SVG element
									var svg_map = d3.select("#map_div")
										.append("svg")
										.attr("width", w)
										.attr("height", h)
										.style("position", "relative")
										.style("width", "100%")

									svg_map.append('rect')
										.attr("class", "background")
										.attr("width", "1000")
										.attr("height", "700")

									svg_map.selectAll("circle")
										.data(data)
										.enter()
										.append("circle")
										.attr("cx", function(d) {
												return projection([d.lon, d.lat])[0];
										})
										.attr("cy", function(d) {
												return projection([d.lon, d.lat])[1];
										})
										.attr("r", 5)
										.style("fill", "orange")
										.style("opacity", 0.75);									
								});
							</script>
						</div>

						</html>

						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>