<div class="modal fade" id="modal-tree3" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg" style="width:100%">
					<div class="modal-body">
						<h1>New title </h1>
						<hr class="star-primary">
						<p>new desc </p>
						<html lang="en">
						<head>
							<meta charset="utf-8">
							<title>Basics</title>
							<script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
							<script src="/js/d3pie.js"></script>
							<style type="text/css">
							
							</style>
						</head>

						<div id="tree_outer_div">
							<div id="trees_div">
								<div id="pieChart"></div>
								<div id="pieChart2"></div>
								<script>

								var pie = new d3pie("pieChart", {
									"header": {
										"title": {
											"text": "Trees in the five boroughs",
											"fontSize": 24,
											"font": "open sans"
										},
										"subtitle": {
											"text": "View the amount of trees in each the five boroughs of NYC below",
											"color": "#999999",
											"fontSize": 12,
											"font": "open sans"
										},
										"titleSubtitlePadding": 9
									},
									"footer": {
										"color": "#999999",
										"fontSize": 10,
										"font": "open sans",
										"location": "bottom-left"
									},
									"size": {
										"canvasWidth": 590,
										"pieOuterRadius": "90%"
									},
									"data": {
										"sortOrder": "value-desc",
										"content": [
											{
												"label": "Bronx",
												"value": 63035,
												"color": "#8f8bdc"
											},
											{
												"label": "Brooklyn",
												"value": 138760,
												"color": "#8772ae"
											},
											{
												"label": "Staten Island",
												"value": 82619,
												"color": "#724997"
											},
											{
												"label": "Manhattan",
												"value": 54115,
												"color": "#7e383f"
											},
											{
												"label": "Queens",
												"value": 195985,
												"color": "#4b1a15"
											}
										]
									},
									"labels": {
										"outer": {
											"pieDistance": 10
										},
										"inner": {
											"format": "value"
										},
										"mainLabel": {
											"fontSize": 11
										},
										"percentage": {
											"color": "#ffffff",
											"decimalPlaces": 2
										},
										"value": {
											"color": "#adadad",
											"fontSize": 11
										},
										"lines": {
											"enabled": true
										},
										"truncation": {
											"enabled": true
										}
									},
									"tooltips": {
										"enabled": true,
										"type": "placeholder",
										"string": "{label}: {percentage}%",
										"styles": {
											"backgroundColor": "#9a6969"
										}
									},
									"effects": {
										"pullOutSegmentOnClick": {
											"effect": "linear",
											"speed": 400,
											"size": 8
										}
									},
									"misc": {
										"gradient": {
											"enabled": true,
											"percentage": 100
										}
									},
									"callbacks": {}
								});
								
								
								
								//Creating a second pie chart
								var pie2 = new d3pie("pieChart2", {
									"header": {
										"title": {
											"text": "Area of the five boroughs",
											"fontSize": 24,
											"font": "open sans"
										},
										"subtitle": {
											"text": "The area is measured in square kilometers and can be viewed in the chart below",
											"color": "#999999",
											"fontSize": 12,
											"font": "open sans"
										},
										"titleSubtitlePadding": 9
									},
									"footer": {
										"color": "#999999",
										"fontSize": 10,
										"font": "open sans",
										"location": "bottom-left"
									},
									"size": {
										"canvasWidth": 590,
										"pieOuterRadius": "90%"
									},
									"data": {
										"sortOrder": "value-desc",
										"content": [
											{
												"label": "Bronx",
												"value": 110,
												"color": "#8f8bdc"
											},
											{
												"label": "Brooklyn",
												"value": 180,
												"color": "#8772ae"
											},
											{
												"label": "Staten Island",
												"value": 152,
												"color": "#724997"
											},
											{
												"label": "Manhattan",
												"value": 59.1,
												"color": "#7e383f"
											},
											{
												"label": "Queens",
												"value": 280,
												"color": "#4b1a15"
											}
										]
									},
									"labels": {
										"outer": {
											"pieDistance": 10
										},
										"inner": {
											"format": "value"
										},
										"mainLabel": {
											"fontSize": 11
										},
										"percentage": {
											"color": "#ffffff",
											"decimalPlaces": 2
										},
										"value": {
											"color": "#adadad",
											"fontSize": 11,
											"text": "hej"
										},
										"lines": {
											"enabled": true
										},
										"truncation": {
											"enabled": true
										}
									},
									"tooltips": {
										"enabled": true,
										"type": "placeholder",
										"string": "{label}: {percentage}%",
										"styles": {
											"backgroundColor": "#9a6969",
											"backgroundOpacity": 1
										}
									},
									"effects": {
										"pullOutSegmentOnClick": {
											"effect": "linear",
											"speed": 400,
											"size": 8
										}
									},
									"misc": {
										"gradient": {
											"enabled": true,
											"percentage": 100
										}
									},
									"callbacks": {}
								});
							</script>
							</div>
						</div>

						</html>
						<p id="demo"></p>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

