 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top:15px">
                    <h2>About the project</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2" style="text-align:center;">
                    <p>Some introductional text goes here.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/cecli/cecli.github.io/archive/master.zip" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>Download project as zip
                    </a>
                </div>
            </div>
        </div>
    </section>