<section id="airpollution_d">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Trees and airpollution</h2>
                <hr class="star-primary">
            </div>
            <p>(More text needed) 
            </p>
            <div class="col-sm-4 modal-item" style="padding-top:15px;margin:0 auto;float:none">
                <a href="#scatterdiameter-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/scatterplot_diameter.png" class="img-responsive">
                </a>
            </div>
        </div>                  
    </div>
</section>