<section id="health">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tree health</h2>
                <hr class="star-primary">
            </div>
            <p>
                (More text needed) Having thousands and thousands of trees standing around in a harsh environment as a major city like NYC, makes one wonder what will
                happens with them and their surroundings, since they are dynamic things that change over time. Trees can get sick and die, fall over and into
                power and phone lines, roads etc. as well as be a nuisance for the people living near them if they start looking old or sick. <br>
                Because of this, there can be value gained from knowing the health status of the trees around the city. Below is a plot of the health status of
                the top 20 trees. It is worth nothing, however, that the dataset is based on a community survey, so the basis for the trees' health is mostly based
                on looks and how the person surveying the tree perceives the tree as a whole.
                <br>
                Below is a plot showing the top 20 trees and their health, in 'Good' descending order.
                <img style="width:900px;margin:0 auto" src="img/total_tree_nyc_health.png" class="img-responsive">
            </p>       
            <br>
            <p>
                <img style="width:350px;margin:0 auto" src="img/tree_health_pie.png" class="img-responsive">
            </p>
            <p>
                Click on the image below to see a map of NYC, showing the results of an attempt to do KNN classification on tree health, based on their location
                in the city. 
            </p>     
            <br>
            <div class="col-sm-4 modal-item" style="float:none;margin:0 auto">
                <a href="#knnmap-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/nyc_map.png" class="img-responsive">
                </a>
            </div>
        </div>                  
    </div>
</section>