<section id="health">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tree health</h2>
                <hr class="star-primary">
            </div>
            <p>
                (More text needed) Having thousands and thousands of trees standing around in a harsh, urban environment like NYC, makes you wonder what will
                happen to them and their surroundings, since they are dynamic, living organisms that develop over time. Just as humans, 
				trees can get sick and die. They can fall over, into power lines and phone lines, onto roads etc. They can also be a nuisance for 
				the people living near them if they start looking old or sick. <br>
                Because of this, there can be value gained from knowing the health status of the trees around the city. Below is a plot of the health status of
                the top 20 species. It is worth noting, however, that the dataset is based on a community survey, the data is collected by volunteers, so the
				basis for the trees' health is solely based on perception of the volunteers collecting the data. The plot shows the top 20 trees and their 
				health, in descending order of 'Good' trees.
                <img style="width:900px;margin:0 auto" src="img/total_tree_nyc_health.png" class="img-responsive">
            </p>       
            <br>
            <p>
                <img style="width:500px;margin:0 auto" src="img/tree_health_pie_v2.PNG" class="img-responsive">
            </p>
            <p>
                Click on the image below to see a map of NYC, showing the results of a KNN classification of tree health, based on their GPS location. 
				For details about the classifications, please view the iPython Explainer Notebook, that can be downloaded from the top of the page. 
            </p>     
            <br>
            <div class="col-sm-4 modal-item" style="float:none;margin:0 auto">
                <a href="#knnmap-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/nyc_map.png" class="img-responsive">
                </a>
            </div>
        </div>                  
    </div>
</section>