<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Get to know the street trees of NYC</h2>
                <hr class="star-primary">
            </div>
            <p>So we know that NYC is divided into a handful of boroughs. Those are then divided into a 
                number of neighborhoods. (insert plot of boroughs and neighborhoods here)
            </p>
            <p>By now, the clever reader might have figured out, that there's also (at least) a handful of trees in NYC.
                Below is a plot of the frequency of all the different species of trees in NYC.
                As you can see, there is a lot of trees in NYC, in fact, they amount to 683.788.
                <img style="width:1000px;margin:0 auto" src="img/trees15nyc_all.png" class="img-responsive"><br>
                Now, let's focus on just the 20 most common tree species. Below you find a pie chart showing the percentage distribution of 
				the top 20 species.<br>
                <img style="width:600px;margin:0 auto" src="img/trees15nyc_pie.png" class="img-responsive"><br>
                Actually, there is no reason to focus on the top 20 species. The frequency is simply becoming too small. In the following we focus
				only on a smaller subset of trees. <br><br>
                Click the image below to get to know your top 10 trees. 
            </p>
            <div class="col-sm-4 modal-item" style="float:none;margin:0 auto">
                <a href="#modal-tree2" class="modal-link" data-toggle="modal">
                    <img src="img/modals/modal_img_fun_facts.png" class="img-responsive">
                </a>
            </div>
            <br>
            <p>
                Now that you have had the time to check out the most frequent species, and probably gotten to know them a little better,
				wouldn't it be a good time to take a closer look at how they are distributed across the different boroughs? Click the image below to see an
				interactive visualization of the distribution of the top 5 trees in NYC and the five boroughs.
            </p>
            <div class="col-sm-4 modal-item" style="float:none;margin:0 auto">
                <a href="#modal-tree" class="modal-link" data-toggle="modal">
                    <img src="img/modals/modal_img_hist.png" class="img-responsive">
                </a>
            </div>
        </div>                  
    </div>
</section>