<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Get to know the street trees of NYC</h2>
                <hr class="star-primary">
            </div>
            <p>(More text needed) As mentioned above, NYC is divided into a handful of boroughs, which are again divided into a 
                number of neighborhoods. (insert plot of boroughs and neighborhoods here)
            </p>
            <p>(More text needed) The clever reader might have a suspicion by now that there's also a handful of trees in NYC.
                Below is a plot of all trees in the whole of NYC.
                As we can see, there's a lot of trees in NYC, 683.788 in total actually.
                <img style="width:1000px;margin:0 auto" src="img/trees15nyc_all.png" class="img-responsive"><br>
                Below is a pie chart, showing the percentage distribution of the top 20 trees.<br>
                <img style="width:600px;margin:0 auto" src="img/trees15nyc_pie.png" class="img-responsive"><br>
                Going below just the top 10 trees, the amount of trees already start to become small, which is why most of our analysis has only been performed on
                the top 10 or even top 5 (which will be specified where it's relevant). 
                Click the image below to get to know your top 10 trees.
            </p>
            <div class="col-sm-4 modal-item" style="float:none;margin:0 auto">
                <a href="#modal-tree2" class="modal-link" data-toggle="modal">
                    <img src="img/modals/modal_img_fun_facts.png" class="img-responsive">
                </a>
            </div>
            <br>
            <p>
                (More text needed) Click on the image below to see an interactive visualization of the distribution of the top 5 trees in NYC and the 
                five boroughs.
            </p>
            <div class="col-sm-4 modal-item" style="float:none;margin:0 auto">
                <a href="#modal-tree" class="modal-link" data-toggle="modal">
                    <img src="img/modals/modal_img_hist.png" class="img-responsive">
                </a>
            </div>
        </div>                  
    </div>
</section>