<!-- ModalGrid Section -->
<section id="modal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Get to know the street trees of NYC</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 modal-item">
                <a href="#modal-tree" class="modal-link" data-toggle="modal">
                    <img src="img/modals/modal_img_hist.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item">
                <a href="#modal-tree2" class="modal-link" data-toggle="modal">
                    <img src="img/modals/modal_img_fun_facts.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item">
                <a href="#modal-tree3" class="modal-link" data-toggle="modal">
                    <img src="img/modals/pie_chart.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item" style="padding-top:15px">
                <a href="#knnmap-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/nyc_map.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item" style="padding-top:15px">
                <a href="#scatterproblem-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/scatterplot_modal.png" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>