<!-- ModalGrid Section -->
<section id="modal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Awesome title goes here</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 modal-item">
                <a href="#modal-tree" class="modal-link" data-toggle="modal">
                    <img src="img/modals/color-tree.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item">
                <a href="#modal-tree2" class="modal-link" data-toggle="modal" data-target="#modal-tree2">
                    <img src="img/modals/shitty_tree.jpeg" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item">
                <a href="#modal-tree3" class="modal-link" data-toggle="modal">
                    <img src="img/modals/awesome_tree.png" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>