<!-- ModalGrid Section -->
<section id="modal">
    <div class="container">      
        <div class="row">
            <div class="col-sm-4 modal-item" style="padding-top:15px">
                <a href="#knnmap-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/nyc_map.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-4 modal-item" style="padding-top:15px">
                <a href="#scatterproblem-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/scatterplot_modal.png" class="img-responsive">
                </a>
            </div>            
        </div>
    </div>
</section>